/*              ROOT                */
:root {
    /*  Text Color  */
    --nav-text-cl: #99a2aa;
    --main-text-cl: #0e2f4b;
    --second-text-cl: #99a2aa;
    --placeholder-text-cl: #757575;
    --btn-cl: #0e2f4b;

    /*  Title Color  */
    --hero-title-cl: #fff;
    --first-title-cl: #f8f8f8;
    --second-title-cl: #0e2f4b;



    /*  Background Color  */
    --first-bg-cl: #fec524;
    --second-bg-cl: #f8f8f8;
    --third-bg-cl: #042c4b;
    --card-bg-cl: #fff;
    --bg-btn: #fff;
    --second-bg-btn: #fdc13d;
    --footer-bg-cl: #1d2023;
}


/*              GLOBAL STYLES               */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

body {
    display: flex;
    flex-direction: column;

    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.page-container {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

.container {
    max-width: 1440px;

    margin: 0 auto;
}

.margin-wrap {
    margin: 0 120px;
    padding: 0 15px;
}

ul, ol {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

.more-details-link {
    display: flex;
    gap: 3px;

    font-size: 0.875rem;

    width: 100px;

    padding-left: 30px;

    color: var(--main-text-cl);
}

.more-details-link:hover,
.more-details-link:focus {
    gap: 30px;

    transition: all 0.5s;
}

.btn {
    display: inline-block;

    font-size: 1.25rem;
    line-height: 0.8;

    padding: 28px 86px;

    border-radius: 10px;

    color: var(--btn-cl);
    background-color: var(--second-bg-btn);
}

.title {
    font-size: 3rem;
    line-height: 1.25;

    margin-bottom: 36px;

    color: var(--second-title-cl);
}

.subtitle {
    font-size: 1.5rem;
    line-height: 1.33;

    color: var(--main-text-cl);
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;

    color: var(--main-text-cl);

}

input {
    outline: none;
}


/*              HEADER              */
header {

}

.header-con {
    display: flex;
    flex-direction: column;

    height: 150px;
}

.header-logo {
    display: flex;
    align-items: center;

    height: 60%;
}

.navigation {
    display: flex;
    align-items: center;

    height: 40%;
}

.navigation-list {
    display: flex;
    gap: 30px;

    font-weight: 400;
}

.nav-link {
    padding: 20px 0;

    color: var(--nav-text-cl);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--main-text-cl);

    transition: color 0.3s;
}


/*              HERO BLOCK              */
.hero {
    background-color: var(--first-bg-cl);
}

.slider-item-content {
    height: 440px;

    padding-top: 44px;
}

.title-hero {
    font-size: 2.75rem;
    line-height: 136.364%;

    width: 300px;

    margin-bottom: 34px;

    color: var(--hero-title-cl);
}

.text-hero {
    color: var(--main-text-cl);
}


/*              SERVICES BLOCK              */
.postal-block {
    font-size: 1rem;

    padding-top: 100px;
    padding-bottom: 160px;

    background-color: var(--second-bg-cl);
}

.postal-position {
    position: relative;
}

.postal-wrapper-form {
    position: absolute;
    top: -228px;
}

.postal-wrapper-form input[type="number"] {
    font-family: "Rubik", sans-serif;
    font-size: 16px;

    width: 570px;
    height: 72px;

    padding-left: 30px;

    border: none;
    border-radius: 10px;

    color: var(--placeholder-text-cl);
    box-shadow: 0 3px 35px 0
                rgba(95, 98, 102, 0.17);
}

.services-list-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    margin-top: 30px;
}

.postal-btn-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    width: 270px;
    height: 80px;

    border-radius: 10px;

    color: var(--second-text-cl);
    background-color: var(--bg-btn);
    box-shadow: 0 3px 35px 0
                rgba(95, 98, 102, 0.17);
}

.postal-btn-link:hover,
.postal-btn-link:focus {
    box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.56);
    transition: all 0.3s;
}

.postal-content {
    display: flex;
}

.postal-content-wrap {
    min-width: 400px;

    margin-top: 32px;
}

.postal-title {
    margin-top: 31px;

    color: var(--second-title-cl);
}

.paragraph {
    margin-bottom: 18px;
}

.postal-content-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
}

.postal-content-list > li {
    width: 370px;
    height: 180px;
}

.postal-content-list > li > h3 {
    font-size: 1.5rem;
    line-height: 133.333%;

    margin-bottom: 13px;
    padding-left: 30px;
    padding-top: 32px;

    color: var(--second-title-cl);
}


.map-img {
    width: 260px;
    height: 175px;

    right: 58px;
    bottom: 32px;
    z-index: -1;

    position: absolute;
}


/*              EXPORT CODE BLOCK               */
.export-code-block {
    background-color: var(--third-bg-cl);
    height: 660px;
}

.export-code-wrapper {
    padding-top: 120px;
    padding-bottom: 180px;
}

.export-text {
    margin-bottom: 44px;
}

.export-content {
    width: 700px;
}

.export-title {
    color: var(--first-title-cl);
}

.export-content > p {
    color: var(--second-text-cl);
}

/*              FINANCES-BLOCK                 */
.financial-block {
    padding-top: 100px;
    padding-bottom: 208px;

    background-color: var(--second-bg-cl);
}

.financial-box-list {
    max-width: 1170px;

    padding: 52px 75px 40px;

    background-color: var(--first-bg-cl);
}

.financial-text {
    margin-top: 12px;
    margin-bottom: 15px;
}

.financial-title {
    margin-top: 121px;
    margin-bottom: 64px;
    padding: 0;
}

.financial-list {
    display: flex;
    gap: 180px;
}

.financial-list .subtitle {
    width: 148px;

    margin-bottom: 13px;
}

.financial-link {
    padding-left: 0;
}


/*              ZIP-CODE-BLOCK              */
.zip-code-block {
    padding: 162px 0;

    background-color: var(--third-bg-cl);
}

.zip-code-title {
    color: var(--first-title-cl);
}

.zip-code-text {
    margin-bottom: 80px;

    color: var(--second-text-cl);
}

.zip-code-content input[type="text"] {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    width: 505px;
    height: 72px;
    padding-left: 30px;
    border: none;
    border-radius: 10px;
    color: var(--placeholder-text-cl);
    box-shadow: 0 3px 35px 0 rgba(95, 98, 102, 0.17);
}

.zip-code-btn {
    font-family: "Rubik", sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--btn-cl);
}


/*              NEWS BLOCK              */
.news-block {
    padding-top: 131px;
    padding-bottom: 110px;

    background-color: var(--second-bg-cl);
}

.news-title {
    margin-bottom: 32px;
}

.news-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 111px;
}

.news-item {

    width: 570px;
    /*height: 250px;*/

    padding: 30px;

    border-radius: 10px;

    background-color: var(--card-bg-cl);
}

.news-link {
    display: flex;
}

.news-icon {
    margin-right: 20px;
    margin-bottom: 24px;

    width: 100px;
    height: 100px;
}

.content-box {
    display: flex;
    flex-direction: column;

    margin-bottom: 25px;
}

.news-data {
    font-family: "Open Sans", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.71;

    margin-bottom: 9px;

    color: var(--second-text-cl);
}

.news-subtitle {
    font-size: 1.125rem;
}

.news-text {
    line-height: 1.875;
}

.legal-title {
    margin-bottom: 62px;
}

.legal-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}

.legal-link {
    font-size: 1.25rem;

    width: 370px;

    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;

    border-radius: 10px;

    color: var(--second-text-cl);
    background-color: var(--bg-btn);
}

.legal-link:hover,
.legal-link:focus {
    box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.56);
    transition: all 0.3s;
}


/*              SOCIAL-BLOCK                */
.social-block {
    padding-top: 121px;
    padding-bottom: 40px;

    background-color: var(--first-bg-cl);
}

.social-title {
    color: var(--hero-title-cl);
}

.social-text {
    margin-bottom: 27px;
}

.strong-text {
    font-size: 1.0625rem;

    color: var(--main-text-cl);
}

.addition-list {
    display: flex;
    gap: 24px;

    margin-top: 15px;
    margin-bottom: 39px;
}
.addition-link {
    border-radius: 10px;
}

.social-list {
    display: flex;
    gap: 20px;

    margin-top: 15px;
}

.viber-icon {
    outline: none;
    border: none;
    border-radius: 50%;
    background-color: #fff;
}


/*              FOOTER-BLOCK                */
.footer {
    padding-top: 100px;
    padding-bottom: 100px;

    background-color: var(--footer-bg-cl);
}

.footer-menu {
    display: flex;
    justify-content: space-between;

    padding-bottom: 54px;

    border-bottom: 1px solid #99a2aa;
}

.margin-wrap {
}

.footer-content {
    width: 292px;
}

.title-footer {
    line-height: 1.25;

    margin-bottom: 23px;

    color: var(--hero-title-cl);
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-item {
}

.footer-link {
    font-weight: 400;
    line-height: 1.5;

    color: var(--second-text-cl);
}

.footer-link:hover,
.footer-link:focus {
    color: var(--first-title-cl);

    transition: color 0.3s;
}